html, body,#app{
	width:100%;
	height:100%;
}

.clearfix:after{
	content:"";
	clear:both;
	display: block;
}
.textLeft{
	text-align: left;
}
.textRight{
	text-align: right;
}
.fLeft{
	float:left;
}
.fRight{
	float:right;
}
input::-webkit-outer-spin-button,  
input::-webkit-inner-spin-button{  
    -webkit-appearance: none !important;  
    margin: 0;  
}  