html, body,#app{
	width:100%;
	height:100%;
}

.clearfix{
	content:"";
	clear:both;
	display: block;
}
input::-webkit-outer-spin-button,  
input::-webkit-inner-spin-button{  
    -webkit-appearance: none !important;  
    margin: 0;  
}  